/*
RevEng.AI API

RevEng.AI is Similarity Search Engine for executable binaries

*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// SearchAPIService SearchAPI service
type SearchAPIService service

type ApiSearchBinariesRequest struct {
	ctx context.Context
	ApiService *SearchAPIService
	page *int32
	pageSize *int32
	partialName *string
	partialSha256 *string
	tags *[]string
	modelName *string
	userFilesOnly *bool
}

// The page number to retrieve.
func (r ApiSearchBinariesRequest) Page(page int32) ApiSearchBinariesRequest {
	r.page = &page
	return r
}

// Number of items per page.
func (r ApiSearchBinariesRequest) PageSize(pageSize int32) ApiSearchBinariesRequest {
	r.pageSize = &pageSize
	return r
}

// The partial or full name of the binary being searched
func (r ApiSearchBinariesRequest) PartialName(partialName string) ApiSearchBinariesRequest {
	r.partialName = &partialName
	return r
}

// The partial or full sha256 of the binary being searched
func (r ApiSearchBinariesRequest) PartialSha256(partialSha256 string) ApiSearchBinariesRequest {
	r.partialSha256 = &partialSha256
	return r
}

// The tags to be searched for
func (r ApiSearchBinariesRequest) Tags(tags []string) ApiSearchBinariesRequest {
	r.tags = &tags
	return r
}

// The name of the model used to analyze the binary the function belongs to
func (r ApiSearchBinariesRequest) ModelName(modelName string) ApiSearchBinariesRequest {
	r.modelName = &modelName
	return r
}

// Whether to only search user&#39;s uploaded files
func (r ApiSearchBinariesRequest) UserFilesOnly(userFilesOnly bool) ApiSearchBinariesRequest {
	r.userFilesOnly = &userFilesOnly
	return r
}

func (r ApiSearchBinariesRequest) Execute() (*BaseResponseBinarySearchResponse, *http.Response, error) {
	return r.ApiService.SearchBinariesExecute(r)
}

/*
SearchBinaries Binaries search

Searches for a specific binary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchBinariesRequest
*/
func (a *SearchAPIService) SearchBinaries(ctx context.Context) ApiSearchBinariesRequest {
	return ApiSearchBinariesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BaseResponseBinarySearchResponse
func (a *SearchAPIService) SearchBinariesExecute(r ApiSearchBinariesRequest) (*BaseResponseBinarySearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BaseResponseBinarySearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchBinaries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/search/binaries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.partialName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partial_name", r.partialName, "form", "")
	}
	if r.partialSha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partial_sha256", r.partialSha256, "form", "")
	}
	if r.tags != nil {
		t := *r.tags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "tags", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "tags", t, "form", "multi")
		}
	}
	if r.modelName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model_name", r.modelName, "form", "")
	}
	if r.userFilesOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_files_only", r.userFilesOnly, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_files_only", defaultValue, "form", "")
		r.userFilesOnly = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v BaseResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchCollectionsRequest struct {
	ctx context.Context
	ApiService *SearchAPIService
	page *int32
	pageSize *int32
	partialCollectionName *string
	partialBinaryName *string
	partialBinarySha256 *string
	tags *[]string
	modelName *string
	filters *[]Filters
	orderBy *AppApiRestV2CollectionsEnumsOrderBy
	orderByDirection *Order
}

// The page number to retrieve.
func (r ApiSearchCollectionsRequest) Page(page int32) ApiSearchCollectionsRequest {
	r.page = &page
	return r
}

// Number of items per page.
func (r ApiSearchCollectionsRequest) PageSize(pageSize int32) ApiSearchCollectionsRequest {
	r.pageSize = &pageSize
	return r
}

// The partial or full name of the collection being searched
func (r ApiSearchCollectionsRequest) PartialCollectionName(partialCollectionName string) ApiSearchCollectionsRequest {
	r.partialCollectionName = &partialCollectionName
	return r
}

// The partial or full name of the binary belonging to the collection
func (r ApiSearchCollectionsRequest) PartialBinaryName(partialBinaryName string) ApiSearchCollectionsRequest {
	r.partialBinaryName = &partialBinaryName
	return r
}

// The partial or full sha256 of the binary belonging to the collection
func (r ApiSearchCollectionsRequest) PartialBinarySha256(partialBinarySha256 string) ApiSearchCollectionsRequest {
	r.partialBinarySha256 = &partialBinarySha256
	return r
}

// The tags to be searched for
func (r ApiSearchCollectionsRequest) Tags(tags []string) ApiSearchCollectionsRequest {
	r.tags = &tags
	return r
}

// The name of the model used to analyze the binary the function belongs to
func (r ApiSearchCollectionsRequest) ModelName(modelName string) ApiSearchCollectionsRequest {
	r.modelName = &modelName
	return r
}

// The filters to be used for the search
func (r ApiSearchCollectionsRequest) Filters(filters []Filters) ApiSearchCollectionsRequest {
	r.filters = &filters
	return r
}

// The field to sort the order by in the results
func (r ApiSearchCollectionsRequest) OrderBy(orderBy AppApiRestV2CollectionsEnumsOrderBy) ApiSearchCollectionsRequest {
	r.orderBy = &orderBy
	return r
}

// The order direction in which to return results
func (r ApiSearchCollectionsRequest) OrderByDirection(orderByDirection Order) ApiSearchCollectionsRequest {
	r.orderByDirection = &orderByDirection
	return r
}

func (r ApiSearchCollectionsRequest) Execute() (*BaseResponseCollectionSearchResponse, *http.Response, error) {
	return r.ApiService.SearchCollectionsExecute(r)
}

/*
SearchCollections Collections search

Searches for a specific collection

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchCollectionsRequest
*/
func (a *SearchAPIService) SearchCollections(ctx context.Context) ApiSearchCollectionsRequest {
	return ApiSearchCollectionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BaseResponseCollectionSearchResponse
func (a *SearchAPIService) SearchCollectionsExecute(r ApiSearchCollectionsRequest) (*BaseResponseCollectionSearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BaseResponseCollectionSearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchCollections")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/search/collections"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.partialCollectionName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partial_collection_name", r.partialCollectionName, "form", "")
	}
	if r.partialBinaryName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partial_binary_name", r.partialBinaryName, "form", "")
	}
	if r.partialBinarySha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partial_binary_sha256", r.partialBinarySha256, "form", "")
	}
	if r.tags != nil {
		t := *r.tags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "tags", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "tags", t, "form", "multi")
		}
	}
	if r.modelName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model_name", r.modelName, "form", "")
	}
	if r.filters != nil {
		t := *r.filters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filters", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filters", t, "form", "multi")
		}
	}
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", r.orderBy, "form", "")
	} else {
		var defaultValue AppApiRestV2CollectionsEnumsOrderBy = "created"
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", defaultValue, "form", "")
		r.orderBy = &defaultValue
	}
	if r.orderByDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by_direction", r.orderByDirection, "form", "")
	} else {
		var defaultValue Order = "DESC"
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by_direction", defaultValue, "form", "")
		r.orderByDirection = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v BaseResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v BaseResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchFunctionsRequest struct {
	ctx context.Context
	ApiService *SearchAPIService
	page *int32
	pageSize *int32
	partialName *string
	modelName *string
}

// The page number to retrieve.
func (r ApiSearchFunctionsRequest) Page(page int32) ApiSearchFunctionsRequest {
	r.page = &page
	return r
}

// Number of items per page.
func (r ApiSearchFunctionsRequest) PageSize(pageSize int32) ApiSearchFunctionsRequest {
	r.pageSize = &pageSize
	return r
}

// The partial or full name of the function being searched
func (r ApiSearchFunctionsRequest) PartialName(partialName string) ApiSearchFunctionsRequest {
	r.partialName = &partialName
	return r
}

// The name of the model used to analyze the binary the function belongs to
func (r ApiSearchFunctionsRequest) ModelName(modelName string) ApiSearchFunctionsRequest {
	r.modelName = &modelName
	return r
}

func (r ApiSearchFunctionsRequest) Execute() (*BaseResponseFunctionSearchResponse, *http.Response, error) {
	return r.ApiService.SearchFunctionsExecute(r)
}

/*
SearchFunctions Functions search

Searches for a specific function

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchFunctionsRequest
*/
func (a *SearchAPIService) SearchFunctions(ctx context.Context) ApiSearchFunctionsRequest {
	return ApiSearchFunctionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BaseResponseFunctionSearchResponse
func (a *SearchAPIService) SearchFunctionsExecute(r ApiSearchFunctionsRequest) (*BaseResponseFunctionSearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BaseResponseFunctionSearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchFunctions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/search/functions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.partialName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partial_name", r.partialName, "form", "")
	}
	if r.modelName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model_name", r.modelName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v BaseResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchTagsRequest struct {
	ctx context.Context
	ApiService *SearchAPIService
	partialName *string
	page *int32
	pageSize *int32
}

// The partial or full name of the tag to search for
func (r ApiSearchTagsRequest) PartialName(partialName string) ApiSearchTagsRequest {
	r.partialName = &partialName
	return r
}

// The page number to retrieve.
func (r ApiSearchTagsRequest) Page(page int32) ApiSearchTagsRequest {
	r.page = &page
	return r
}

// Number of items per page.
func (r ApiSearchTagsRequest) PageSize(pageSize int32) ApiSearchTagsRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiSearchTagsRequest) Execute() (*BaseResponseTagSearchResponse, *http.Response, error) {
	return r.ApiService.SearchTagsExecute(r)
}

/*
SearchTags Tags search

Searches for tags by there name

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchTagsRequest
*/
func (a *SearchAPIService) SearchTags(ctx context.Context) ApiSearchTagsRequest {
	return ApiSearchTagsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BaseResponseTagSearchResponse
func (a *SearchAPIService) SearchTagsExecute(r ApiSearchTagsRequest) (*BaseResponseTagSearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BaseResponseTagSearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/search/tags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.partialName == nil {
		return localVarReturnValue, nil, reportError("partialName is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "partial_name", r.partialName, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v BaseResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
