# RevEng.AI Go SDK

This is the Go SDK for the RevEng.AI API.

To use the SDK you will first need to obtain an API key from [https://reveng.ai](https://reveng.ai/register).

## Installation

Once you have the API key you can install the SDK using:
```shell
go get github.com/RevEngAI/sdk-go
```

## Usage

The following is an example of how to use the SDK to get the logs of an analysis:

```go
package main

import (
	"context"
	"fmt"
	"os"

	sdk "github.com/RevEngAI/sdk-go"
)

func main() {
	// Create a new configuration with default settings
	cfg := sdk.NewConfiguration()

	// Create a new API client
	client := sdk.NewAPIClient(cfg)

	// Configure API key authorization via context
	ctx := context.WithValue(context.Background(), sdk.ContextAPIKeys, map[string]sdk.APIKey{
		"APIKey": {Key: os.Getenv("API_KEY")},
	})

	analysisId := int32(715320)

	// Call GetAnalysisLogs on the AnalysesCoreAPI service
	result, httpResp, err := client.AnalysesCoreAPI.GetAnalysisLogs(ctx, analysisId).Execute()
	if err != nil {
		fmt.Fprintf(os.Stderr, "Exception when calling AnalysesCoreAPI#GetAnalysisLogs\n")
		fmt.Fprintf(os.Stderr, "Status code: %d\n", httpResp.StatusCode)

		// Check if the error is a GenericOpenAPIError for more details
		if apiErr, ok := err.(*sdk.GenericOpenAPIError); ok {
			fmt.Fprintf(os.Stderr, "Reason: %s\n", string(apiErr.Body()))
		}

		fmt.Fprintf(os.Stderr, "Error: %v\n", err)
		os.Exit(1)
	}

	// Unwrap the response: BaseResponseLogs -> Logs (Data) -> string
	if result.HasData() {
		data := result.GetData()
		fmt.Println(data.GetLogs())
	} else {
		fmt.Println("No logs available")
	}
}
```

## Documentation for API Endpoints

All URIs are relative to *{{basePath}}*

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [**{{operationId}}**]({{apiDocPath}}{{classname}}.md#{{operationIdLowerCase}}) | **{{httpMethod}}** {{path}} | {{summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

## Documentation For Models

{{#models}}{{#model}} - [{{{classname}}}]({{modelDocPath}}{{{classname}}}.md)
{{/model}}{{/models}}

## Documentation for Utility Methods

Due to the fact that model structure members are all pointers, this package contains
a number of utility functions to easily obtain pointers to values of basic types.
Each of these functions takes a value of the given basic type and returns a pointer to it:

* `PtrBool`
* `PtrInt`
* `PtrInt32`
* `PtrInt64`
* `PtrFloat`
* `PtrFloat32`
* `PtrFloat64`
* `PtrString`
* `PtrTime`
